.mainContain {
  /* height: 300px;
  width: 800px; */
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */
  height: 480px;
  /* height: 72%; */
  width: 60%;

  margin: auto;
}

.indexImage {
  background-image: url("https://i.imgur.com/Vd7pInL.jpg");
  /* background-image: url("https://i.imgur.com/98WFnPb.jpg"); */
  height: 100%;
  width: 100%;
  border-radius: 5px;
  /* padding-bottom: 10px; */

  object-fit: contain;
}
